body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(WhatsApp%20Image%202020-06-15%20at%207.35.53%20PM.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    
}
.sign-up-form
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0,0.3);
    background:;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    
}
.sign-up-form h1
{
    color: #fff;
    margin-bottom: 30px;
}
.input-box
{
    border-radius: 20px;
    padding: 6px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.signup-btn
{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-btn
{
    background-color: #1c8adb;
}
.facebook-btn
{
     color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.facebook-btn
{
    background-color: #21afde;
}
.a
{
    text-decoration: none;

}
.hr
{
    margin-top: 20px;
    width: 80px;
}
.or
{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
.cc
{
    color: #fff;
}
.c1
{
    color:red;
}






























